body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td,
th {
  padding: 10px 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

caption {
  margin: 20px 0;
}

.btn-fixed {
  position: fixed;
  top: 70px;
  right: 20px;
}

.btn-close {
  width: 100px;
  border-radius: 40px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}

form {
  background-color: #fff;
  padding: 20px;
  width: 70%;
  margin: 160px auto;
}

.search-line {
  width: 70%;
}

/*Custom MUI*/
.mui-tabs__pane.mui--is-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mui-table {
  width: 70%;
  background-color: rgba(0,0,0,0.05);
}

.mui-table tr th:last-child {
  width: 147px;
}

.mui-select>select {
  padding-left: 15px;
}